<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hola {{ user.name }}, {{user.last_name}},</p>
    <p>Gracias por registrarte. Por favor, haz clic en el enlace a continuación para activar tu cuenta de superusuario:</p>
    <p><a href="{{ activation_url }}">Activar mi cuenta</a></p>
    <p>Si no solicitaste esta cuenta, por favor ignora este correo.</p>
</body>
</html>

