<!DOCTYPE html>
{% extends 'base.html'%}

{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/css/dataTables.bootstrap5.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/css/responsive.bootstrap5.min.css' %}"/>
<script src="{% static 'lib/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/responsive.bootstrap5.min.js' %}"></script>

{% endblock %}

{% block content %}

{% if not request.user.is_superuser %}


<div class="container">
        <div class="row">
            <h5 class="text-center" style="color: rgb(27, 27, 27); margin-top: 100px;">Por favor, necesitas ingresar con un usuario administrador para navegar. 
                <br>Si no tienes cuenta puedes registrarte.</h5>
        </div>
        <div class="row">
            <h1></h1>
        </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
    
        <div class="col">
            <a class="card-text" href="{% url 'login' %}" style = 'text-decoration:none;'>
                <div class="card mb-2">
                    <div class="card-body">
                        
                            <h4 class="card-title text-center">Login</h4>
                                
                    </div>
                </div>
            </a>
        </div>
        
            <div class="col">
                <a class="card-text" href="{% url 'register' %}" style = 'margin-top: 20px; text-decoration:none;'>
                    <div class="card mb-2">
                        <div class="card-body">
                            
                                <h4 class="card-title text-center">Registrarse</h4>
                                    
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% elif request.user.is_superuser %}

<div class="container">
    
    <div class="row">
        <h5 class="text-center" style="color: rgb(27, 27, 27); margin-top: 100px;">Hola {{user.usuername}}, tienes estas opciones para realizar</h5>
    </div>
    <div class="row">
        <h1></h1>
    </div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">

    <div class="col">
        <a class="card-text" href="{% url 'update_email_config' %}" style = 'text-decoration:none;'>
            <div class="card mb-2">
                <div class="card-body">
                    
                        <h4 class="card-title text-center"><i class="fa-solid fa-envelope"></i>&nbsp&nbspConfigurar email</h4>
                            
                </div>
            </div>
        </a>
    </div>
    
        <div class="col">
            <a class="card-text" href="{% url 'permissionlist' %}" style = 'margin-top: 20px; text-decoration:none;'>
                <div class="card mb-2">
                    <div class="card-body">
                        
                            <h4 class="card-title text-center"><i class="fa-solid fa-key"></i>&nbsp&nbspAsignar Permisos</h4>
                                
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</div>

{%endif%}

{% endblock %}