<!DOCTYPE html>
{% extends 'base.html'%}

{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/css/dataTables.bootstrap5.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/css/responsive.bootstrap5.min.css' %}"/>
<script src="{% static 'lib/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/responsive.bootstrap5.min.js' %}"></script>

{% endblock %}

{% block content %}



<div class="container" style="height: 60px;">
    <h2>Notificaciones</h2>
</div>

{% if request.user.is_authenticated %}



<div class="container">
    <button class="btn">
        <a class="btn btn-primary btn-flat" href= "{% url 'listpass' %}"> <i class="fa-solid fa-bars"></i>  Lista</a>
    </button>
</div>
<div>
    <div class="container">
    <table class="table" id="data">
        <thead class="table-dark">
        
            <tr >

                <th scope="col">Nombre Contraseña</th>
                <th scope="col">Usuario</th>
                <th scope="col">Usuario a permitir</th>
                <th scope="col">Comentario</th>
                <th scope="col">Accion</th>
                
            </tr>


        </thead>

        <tbody>
            {% for object in notifications %}
            <tr>

                <td>{{object.id_contrasena.nombre_contra}}</td>
                <td>{{object.id_user}}</td>
                <td>{{object.id_user_share.username}}</td>
                <td>{{object.comment}}</td>
                <td><a href="{% url 'grantperm' id_cont=object.id_contrasena.id id_user_share=object.id_user_share.id %}">{{object.action}}</a></td>
                
            </tr>
            {% endfor %}    
        </tbody>
    </table>
    </div>
</div>
     
          
{% endif %}


{% endblock %}