<!DOCTYPE html>
{% extends 'base.html'%}

{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/css/dataTables.bootstrap5.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/css/responsive.bootstrap5.min.css' %}"/>
<script src="{% static 'lib/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/responsive.bootstrap5.min.js' %}"></script>

{% endblock %}

{% block content %}



<div class="container" style="height: 60px;">
    <h2>Notificaciones</h2>
</div>

{% if request.user.is_authenticated %}



<div class="container">
    <button class="btn">
        <a class="btn btn-primary btn-flat" href= "{% url 'listpass' %}"> <i class="fa-solid fa-bars"></i>  Lista</a>
    </button>
</div>
<div>
    <div class="container">
    <table class="table" id="data">
        <thead class="table-dark">
        
            <tr >

                <th scope="col">Nombre Contraseña</th>
                <th scope="col">Usuario</th>
                <th scope="col">Usuario a permitir</th>
                <th scope="col">Comentario</th>
                <th scope="col">Fecha</th>
                <th scope="col">Accion</th>
                
            </tr>


        </thead>

        <tbody>
            {% for object in notifications %}
            {% if object.viewed == False %}
            <tr class="table-success">

                <td>
                    {% if object.viewed == False %}
                    <i class="fas fa-lightbulb" style="color:rgba(255, 234, 43, 0.918); font-size: 12px;"></i>
                    {{object.id_contrasena.nombre_contra}}
                    {%else%}
                    <i class="fas fa-lightbulb" style="color:rgba(255, 255, 255, 0.918); font-size: 12px;"></i>
                    {{object.id_contrasena.nombre_contra}}
                    {%endif%}
                </td>
                <td>{{object.id_user}}</td>
                <td>{{object.id_user_share.username}}</td>
                <td>{{object.comment}}</td>
                
                <td>{{object.created|date:"d/m/y H:i"}}</td>
                {% if object.viewed == False %}
                <td><a href="{% url 'grantperm' id_cont=object.id_contrasena.id id_user_share=object.id_user_share.id id_noti=object.id id_user=object.id_user %}"><i class ="fas fa-arrows-to-eye" style="color:rgb(68, 94, 200); "></i></a></td>
                {% else %}
                <td><a href="#" disabled><i class ="fas fa-arrows-to-eye" style="color:rgb(121, 121, 121);"></i></a></td>
                {%endif%}
            </tr>
            {%else%}
            <tr>

                <td>
                    {% if object.viewed == False %}
                    <i class="fas fa-lightbulb" style="color:rgba(255, 234, 43, 0.918); font-size: 12px;"></i>
                    {{object.id_contrasena.nombre_contra}}
                    {%else%}
                    <i class="fas fa-lightbulb" style="color:rgba(255, 255, 255, 0.918); font-size: 12px;"></i>
                    {{object.id_contrasena.nombre_contra}}
                    {%endif%}
                </td>
                <td>{{object.id_user}}</td>
                <td>{{object.id_user_share.username}}</td>
                <td>{{object.comment}}</td>
                
                <td>{{object.created|date:"d/m/y H:i"}}</td>
                {% if object.viewed == False %}
                <td><a href="{% url 'grantperm' id_cont=object.id_contrasena.id id_user_share=object.id_user_share.id id_noti=object.id id_user=object.id_user %}"><i class ="fas fa-arrows-to-eye" style="color:rgb(68, 94, 200); "></i></a></td>
                {% else %}
                <td><a href="#" disabled><i class ="fas fa-arrows-to-eye" style="color:rgb(121, 121, 121);"></i></a></td>
                {%endif%}
            </tr>
            {%endif%}
            {% endfor %}    
        </tbody>
    </table>
    </div>
</div>
     
          
{% endif %}


{% endblock %}

{% block javascript %}

<script type="application/javascript">

    $(document).ready(function () {
        
        $('#data').DataTable({
            responsive: true,
            "lengthMenu": [ [10, 25, 50, 100, 250, 500, -1], [10, 25, 50, 100, 250, 500, "All"] ],
            "pageLength": 10, // Establece -1 como la opción por defecto
            autoWidth: false,
            
        });
    });

</script>

{% endblock %}