{% extends 'base.html'%}


{% block content %}
<div class="container pt-5" >

    <div class="card center">
            <div class="card-title">
                <div class="container" style="height: 105px; padding-top: 20px;">
                    <h2><i class="fas fa-plus" ></i> Crear Permiso</h2>
                    <button class="btn">
                        <a class="btn btn-primary btn-flat" href= {% url 'listpass' %}> <i class="fa-solid fa-bars"></i> Lista</a>
                    </button>
                </div>
            </div>
            <div class="card-body"style="background-color: #F7F7F7 ;">
                <h5>Estas cambiando los permisos de: </h5><h4>{{usuario}}</h4>
            </div>
            <div class="card-body"style="background-color: #F7F7F7 ;">
                
                <form method="POST">
                    {% csrf_token %}
                
                    <div class="form" style='margin-left:100px'>
                    
                        {% for field in permiso_form %}
                            <div class="form-check form-switch">
                                {% if field.value == "True" %}
                                    {% with widget=field.field.widget %}
                                        <label class="form-check-label" for="{{ field.id_for_label }}" style='margin-top:6px; margin-left:10px;'>{{ field.label }} - {{ widget.attrs.seccion }}</label>
                                    {% endwith %}
                                <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.name }}" class="form-check-input" style='margin-top:10px' checked>
                                {% elif field.value == "False"  %}
                                    {% with widget=field.field.widget %}
                                        <label class="form-check-label" for="{{ field.id_for_label }}" style='margin-top:6px; margin-left:10px;'>{{ field.label }} - {{ widget.attrs.seccion }}</label>
                                    {% endwith %}
                                <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.name }}" style='margin-top:10px' class="form-check-input">
                                {% else %}
                                    {% with widget=field.field.widget %}
                                        <label class="form-check-label" for="{{ field.id_for_label }}" style='margin-top:6px; margin-left:10px;'>{{ field.label }} - {{ widget.attrs.seccion }}</label>
                                    {% endwith %}
                                <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.name }}" style='margin-top:10px' class="form-check-input">
                                {% endif %}
                                
                            </div>
                        {% endfor %}
                    
                    </div>
                
                    <button type="submit" class="btn btn-primary btn-flat" style='margin-top:20px; margin-left:100px;'>
                        <i class="fas fa-save"></i> Guardar Permisos
                    </button>
                </form>
            </div>
            
        </div>
    </div>


        
        
        
</div>

{% endblock %}