{% extends 'base.html'%}


{% block content %}

<body>
    <body>
        <div class="container pt-5" >
            <div class="row">
                <div class="col-md-5 mx-auto"> 
            <div class="card">
                    <div class="card-header" >
                        <div class="container" style=" padding: 10px;"style="background-color: #F7F7F7 ;">
                            <h2><i class="fas fa-plus" ></i>  Solicitud de permisos</h2>
                            <button class="btn" >
                                <a class="btn btn-primary btn-flat" href= "{% url 'listpass' %}"> <i class="fa-solid fa-bars"></i>  Lista</a>
                            </button>
                        </div>
                    </div>
        
                    <div class="card-body">
                        <form method="POST" >
                            {% csrf_token %}
                            {{form.errors}}

                            <div class="form-group" style="margin-bottom: 20px;">
                                {{ form.id_user_share.label_tag }}
                                {{ form.id_user_share }}
                            </div>
                            <div class="form-group" style="margin-bottom: 20px;">
                                {{ form.comment.label_tag }}
                                {{ form.comment }}
                            </div>
                            <button class="btn btn-primary" type="submit">Enviar</button>
                        </form>
                </div>
    </body>
{% endblock %}
