{% extends 'base.html'%}


{% block content %}
<div class="container pt-5" >

    <div class="card center">
            <div class="card-title">
                <div class="container" style="height: 105px; padding-top: 20px;">
                    <h2><i class="fas fa-plus" ></i> Crear Permiso</h2>
                    <button class="btn">
                        <a class="btn btn-primary btn-flat" href= {% url 'listpass' %}> <i class="fa-solid fa-bars"></i> Lista</a>
                    </button>
                </div>
            </div>
            <div>
                <h4>Estas cambiando los permisos de: {{usuario}}</h4>
            </div>
            <div class="card-body"style="background-color: #F7F7F7 ;">
                    <form method="POST" >
                        {% csrf_token %}

                        <div class="form-group">
                            {% for field in permiso_form %}
                            
                                <label width=200px for="{{ field.id_for_label }}">{{ field.label }}</label>
                            
                            
                                <div width=100px>{{ field }}</div>
                            
                            {% endfor %}
                        </div>
                        
           
                            <button type="submit" class="btn btn-primary btn-flat">
                                <i class="fas fa-save"></i> Guardar Permisos
                            </button>
                       
                           

                        </div> 
                        
                    </form>
            </div>
            
        </div>
    </div>


        
        
        
</div>

{% endblock %}