
<!DOCTYPE html>
{% extends 'base.html'%}

{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/css/dataTables.bootstrap5.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/css/responsive.bootstrap5.min.css' %}"/>
<script src="{% static 'lib/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/responsive.bootstrap5.min.js' %}"></script>

{% endblock %}

{% block content %}

<div class="container" style="height: 60px;">
    <h2>{{title}}</h2>
</div>

{% if request.user.is_authenticated %}
    <div class="container">
        


            <table class="table" id="data">
                <thead class="table-dark">
                    <tr >
                        <th scope="col">Nombre Contraseña</th>
                        <th scope="col">Seccion</th>
                        <th scope="col">Link</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Acción</th>
                        
            
                    </tr>
                    
                </thead>

                <tbody>
                    {% for contra in object_list %}
                    <tr>
                        <td><b>{{ contra.nombre_contra }}</b></td>
                        <td>{{ contra.seccion }}</td>
                        <td>{{ contra.link }}</td>
                        <td>{{ contra.usuario }}</td>
                        <td>
                            <div style="display: flex; align-items: center;">
                                <input type='password' id="passwordField{{ contra.id }}" value="{{ contra.contraseña }}" style="flex: 1; border: none;" disabled >
                                <i class="fas fa-eye toggle-password-icon" data-password-field="passwordField{{ contra.id }}" style="cursor: pointer; color: rgb(68, 94, 200);"></i>
                                <span></span>
                                <i class="far fa-copy copy-icon" data-copy-target="passwordField{{ contra.id }}" style="cursor: pointer;"></i>
                            </div>
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'updatepass' contra.id %}"><i class="fas fa-pen" style="margin-right:10px; text-decoration-line: none; color: #EFA400;"></i></a>
                            <a href="{% url 'deletepass' contra.id %}"><i class="fas fa-trash" style="margin-right:10px; text-decoration-line: none; color: rgb(216, 48, 48);"></i></a>
                            <a href="{% url 'detailpass' contra.id %}"><i class="fas fa-circle-info" style="margin-right:10px; text-decoration-line: none; color: rgb(68, 94, 200);"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
                
                    <h2>{{permisos}}</h2>
            </table>

            <div>
                <button class="btn">
                    <a class="btn btn-primary btn-flat" href = "{% url 'createpass' %}">
                    <i class="fas fa-plus"></i> Nueva contraseña </a>
                </button>
            </div>
            {% else %}
            <div class="container-fluid text-center">
                <h5 style="color: darkgrey">Por favor, necesitas ingresar con un usuario para navegar. Si no tienes cuenta puedes registrarte.</h5>
                <div class="row justify-content-center mt-4">
                    <div class="col-sm-6 d-flex justify-content-center">
                        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-center mt-2 mt-sm-0">
                        <a class="btn btn-primary" href="{% url 'register' %}">Registrarse</a>
                    </div>
                </div>
            </div>
            {% endif %}
            
        
    </div>

{% endblock %}

{% block javascript %}

<script type="application/javascript">
    $(document).ready(function () {
        
        $('#data').DataTable({
            responsive: true,
            
            autoWidth: false,
            "language": {
                url : "{% static 'lib/datatables-1.13.1/spanish.txt' %}"
            }
        });
    
              /*.fail(function(jqXHR, textStatus, thrownError ) {
                alert(textStatus +' : ' + thrownError );
              })
              .always(function(data) {
                
              });*/

        });


</script>

<script>
    document.querySelectorAll('.toggle-password-icon').forEach(function(icon) {
        icon.addEventListener('click', function() {
            const passwordFieldId = icon.getAttribute('data-password-field');
            const passwordField = document.getElementById(passwordFieldId);

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                icon.classList.remove('fa-eye');
                console.log('habilita contra');
                icon.classList.add('fa-eye-slash');
            } else {
                passwordField.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        });
    });

    document.querySelectorAll('.copy-icon').forEach(function(icon) {
        icon.addEventListener('click', function() {
            console.log('Icon clicked');
            const copyTargetId = icon.getAttribute('data-copy-target');
            const copyTarget = document.getElementById(copyTargetId);
    
            // Seleccionar el contenido del campo de entrada
            copyTarget.select();
            copyTarget.setSelectionRange(0, 99999); // Para dispositivos móviles
    
            // Intentar copiar al portapapeles dentro de la función de callback
            document.execCommand('copy');
    
            // Deseleccionar el campo de entrada
            copyTarget.blur();
        });
    });
    

</script>


            
{% endblock %}
</html>