<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/css/dataTables.bootstrap5.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/css/responsive.bootstrap5.min.css' %}"/>
    <script src="{% static 'lib/jQuery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/DataTables-1.13.1/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/responsive.bootstrap5.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h2>{{verbose_name_plural}}</h2>
    </div>

    {% if request.user.is_authenticated %}
        <div class="container mb-3 d-flex gap-2">
{% comment %}
                <a class="btn btn-primary btn-flat" href="{% url 'config' %}">
                    <i class="fa-solid fa-gear"></i> Configuración
                </a>
{% endcomment %}
            <a class="btn btn-primary btn-flat" href="{% url create_view %}">
                <i class="fa-solid fa-plus"></i> Alta de {{verbose_name_plural}}
            </a>
        </div>

        <div class="container">
            <table id="data" class="table">
                <thead class="table-dark">
                  <tr>
                    {% for field in fields %}
                    
                    <th>{{ field.verbose }}</th>
                                        
                    {% endfor %}
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for obj in object_list %}
                  
                    <tr>
                      {% for field in fields %}
                        <td>{{ obj|get_attr:field.name }}</td>
                        
                      {% endfor %}
                      <td>
                        <a href="{% url update_view obj.id %}"><i class="fas fa-pen" title="Editar {{verbose_name_plural}}" style="color: #FFE682; margin-right:5px;"></i></a>
                        <a href="{% url detail_view obj.id %}"><i class="fas fa-eye" title="Detalle {{verbose_name_plural}}" style="color:rgb(60, 28, 167); margin-right:5px;"></i></a>
                        <a href="{% url delete_view obj.id %}"><i class="fas fa-trash" title="Eliminar {{verbose_name_plural}}" style="color: #FF7367;"></i></a>
                    </td>
                    </tr>
                    
                  {% endfor %}
                  
                </tbody>
              </table>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/init-datatable.js' %}"></script>
{% endblock %}
