
{% extends 'base.html'%}

{% load static %}


{% block head %}



{% endblock %}

{% block content %}

{% if not request.user.is_superuser and not request.user.is_staff %}
<div class="container-fluid text-center">
    <h5 style="color: darkgrey">Por favor, necesitas ingresar con un usuario administrador para navegar. 
        <br>Si no tienes cuenta puedes registrarte.</h5>
    <div class="row justify-content-center mt-4">
        
        <div class="col-sm-12 d-flex justify-content-center">
            <a class="btn btn-primary" href="{% url 'login' %}" style = 'margin-top: 20px;'>Login</a>
        </div>
        <span></span>
        <div class="col-sm-12 d-flex justify-content-center mt-2 mt-sm-0">
            <a class="btn btn-primary" href="{% url 'register' %}"style = 'margin-top: 20px;'>Registrarse</a>
        </div>
    
    </div>
</div>
{% elif request.user.is_superuser or request.user.is_staff %}
<div class="container pt-5" >
        <div class="col-lg-10 col-xl-8 mx-auto" style="background-color:rgb(248, 248, 248); border-radius: 25px;">
<div class="container-fluid">
    <div class="row">
        <h3 style="color: rgb(32, 32, 32); margin-top:30px;">{{action_type}} {{ verbose_name }}</h3>
    </div>
    <div class="row">
        <button class="btn">
            <a class="btn btn-primary btn-flat" href= "{% url 'treatment-list' %}"> <i class="fa-solid fa-bars"></i>  Lista de {{ verbose_name }}</a>
        </button>
    </div>
         
        <form method="POST">
            {% csrf_token %}
            {{form.errors}}
            <h5 style="color: darkred; margin-top:30px;">{{message}}</h5>

            <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                {% for field in form.visible_fields %}
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger small">
                                    {{ field.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-flat">
                <i class="fas fa-save"></i> Guardar cambios
            </button>
            <input type="hidden" id="object_id_preselected" value="{{ form.fields.object_id.initial }}">
        </form>
            </div>
        </div> 

    <div class="row">
    </div>

</div>
{%endif%}

{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    const $modelType = $('#id_model_type');
    const $objectSelect = $('#id_object_id');
    const preselected = $('#object_id_preselected').val();
  
    // Ejecutar AJAX sólo si cambia el tipo de recurso (o si NO estamos editando)
    $modelType.on('change', function () {
      const modelId = $(this).val();
      console.log("Model Type changed:", modelId);
  
      $.ajax({
        url: "{% url 'ajax-get-objects' %}",
        data: { type_id: modelId },
        success: function (data) {
          $objectSelect.empty();
          $objectSelect.append(`<option value="">Seleccione un recurso</option>`);
  
          data.objects.forEach(function (obj) {
            const selected = (obj.id.toString() === preselected) ? 'selected' : '';
            $objectSelect.append(`<option value="${obj.id}" ${selected}>${obj.name}</option>`);
          });
        },
        error: function (xhr) {
          console.error("AJAX error:", xhr.responseText);
        }
      });
    });
  
    // Solo forzar la carga por AJAX si no hay valor ya seleccionado
    if (!preselected) {
      $modelType.trigger('change');
    }
  });
</script>
  


{% endblock%}