{% extends 'base.html'%}


{% block content %}
<div class="container" >

   
            <div class="card-title">
                <div class="container" style="height: 105px; padding-top: 20px;">
                    <h2><i class="fas fa-pen" ></i> {{title}}</h2>
                    <button class="btn">
                        <a class="btn btn-primary btn-flat" href= {% url 'listpass' %}> <i class="fa-solid fa-bars"></i>Lista</a>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mx-auto"> 
            <div class="card-body"style="background-color: #F7F7F7 ;">
                    <form method="POST">
                        {% csrf_token %}
                        {% if form.errors %}

                        {{form.errors}}
                        {% endif %}
                        {% for field in form.visible_fields %}
                        
                            <div class="form-group">

                                {%if field.field.widget.attrs.id == "password"%}
                                <div class= 'input group'>

                                    <label class="form-label">{{ field.label }}</label>
                                    
                                    <div class="input-group mb-3">
                                        {{field}}
                                    <button class="btn btn-outline-primary" type="button" id="passwordToggle">
                                        <i class="fas fa-eye toggle-password-icon" id="eyeIcon"></i>
                                    </button>
                                </div>
                                
                                {% else %}
                                <label class="form-label">{{ field.label }}</label>
                                {{field}}

                            </div>
                            {% endif %}
                        
                        {% endfor %}
                        <div>
                            
                        </div>

                            <button type="submit" class="btn btn-primary btn-flat" style='margin-top: 20px;'>
                                <i class="fas fa-save"></i> Guardar
                            </button>
                        </div> 
                    </form>
            </div>
        </div>
    </div>
       
    </div>

</div>


{% endblock %}

{% block javascript %}

<script>
    const inputPassword = document.getElementById("password");
    const iconEye = document.getElementById("eyeIcon");

    iconEye.addEventListener('click', function() {
        if (inputPassword.type === 'password') {
            inputPassword.type = 'text';
            iconEye.classList.remove('fa-eye');
            iconEye.classList.add('fa-eye-slash');
        } else {
            inputPassword.type = 'password';
            iconEye.classList.remove('fa-eye-slash');
            iconEye.classList.add('fa-eye');
        }
    });
</script>

{% endblock %}

</body>
</html>