<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/css/dataTables.bootstrap5.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/css/responsive.bootstrap5.min.css' %}"/>
    <script src="{% static 'lib/jQuery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/DataTables-1.13.1/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/responsive.bootstrap5.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h2>Usuarios</h2>
    </div>

    {% if request.user.is_authenticated %}
        <div class="container mb-3 d-flex gap-2">
            <a class="btn btn-primary btn-flat" href="{% url 'config' %}">
                <i class="fa-solid fa-gear"></i> Configuración
            </a>
            <a class="btn btn-primary btn-flat" href="{% url 'register' %}">
                <i class="fa-solid fa-user"></i> Crear Usuario
            </a>
        </div>

        <div class="container">
            <table class="table" id="data">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Nombre y apellido</th>
                        <th scope="col">Documento</th>
                        <th scope="col">eMail</th>
                        <th scope="col">Posición</th>
                        <th scope="col">Domicilio</th>
                        <th scope="col">Rol</th>
                        <th scope="col">2FA</th>
                        <th scope="col">Fech. Ingreso</th>
                        <th scope="col">Fech. Egreso</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in users %}
                        <tr>
                            <td>
                                {% if object.is_active %}
                                    <i class="fas fa-circle-check" title="Usuario Activo" style="color:#7CFF6D; font-size: 12px;"></i>
                                {% else %}
                                    <i class="fas fa-circle-check" title="Usuario Inactivo" style="color:rgba(182, 182, 182, 0.918); font-size: 12px;"></i>
                                {% endif %}
                                {{ object.id }}
                            </td>
                            <td>
                                {% if object.is_superuser %}
                                    <i class="fas fa-crown" title="Super user" style="color:#FFE682; font-size: 12px;"></i>
                                {% elif object.is_staff %}
                                    <i class="fas fa-user-tie" title="Staff" style="color:#253199; font-size: 12px;"></i>
                                {% endif %}
                                {{ object.username }}
                            </td>
                            <td>{{ object.first_name }}, {{ object.last_name }}</td>
                            <td>{{ object.documento }}</td>
                            <td>{{ object.email }}</td>
                            <td>{{ object.position }}</td>
                            <td>{{ object.address }}</td>
                            <td>{{ object.assigned_role }}</td>
                            <td>
                                {% if object.is_2fa_enabled %}
                                    <i class="fas fa-circle-check" title="2FA activado" style="color: #7CFF6D;"></i>
                                {% else %}
                                    <i class="fas fa-circle-xmark" title="2FA desactivado" style="color: #FF7367;"></i>
                                {% endif %}
                            </td>
                            <td>{{ object.admission_date|date:"d/m/y" }}</td>
                            <td>{{ object.departure_date|date:"d/m/y" }}</td>
                            <td>
                                <a href="{% url 'updateuser' object.id %}"><i class="fas fa-user-edit" title="Editar usuario" style="color: #FFE682;"></i></a>
                                
                                {% if object.is_2fa_enabled %}
                                    <a href="{% url 'send-qr-email-for-user-ondemand' object.id %}"><i class="fas fa-qrcode" title="Enviar QR" style="color:rgb(8, 4, 79);"></i></a>
                                {% else %}
                                    <i class="fas fa-qrcode" title="2FA desactivado" style="color:rgb(177, 177, 177);"></i>
                                {% endif %}
                                {% if object.is_active %}
                                    <a href="{% url 'deactivateuser' object.id %}"><i class="fas fa-trash" title="Desactivar usuario" style="color: #FF7367;"></i></a>
                                {% else %}
                                    <a href="{% url 'activateuser' object.id %}"><i class="fas fa-person-arrow-up-from-line" title="Activar usuario" style="color: #7CFF6D;"></i></a>
                                {% endif %}
                                <a href="{% url 'detail-user' object.id %}"><i class="fas fa-eye" title="Detalle usuario" style="color:rgb(8, 4, 79);"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                responsive: true,
                "lengthMenu": [[10, 25, 50, 100, 250, 500, -1], [10, 25, 50, 100, 250, 500, "All"]],
                "pageLength": -1,
                autoWidth: false,
                "language": {
                    url: "{% static 'lib/DataTables-1.13.1/spanish.txt' %}"
                }
            });
        });
    </script>
{% endblock %}
