<!DOCTYPE html>
{% extends 'base.html'%}

{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/css/dataTables.bootstrap5.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/css/responsive.bootstrap5.min.css' %}"/>
<script src="{% static 'lib/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/responsive.bootstrap5.min.js' %}"></script>

{% endblock %}

{% block content %}

{% if not request.user.is_superuser and not request.user.is_staff %}
<div class="container-fluid text-center">
    <h5 style="color: darkgrey">Por favor, necesitas ingresar con un usuario administrador para navegar. 
        <br>Si no tienes cuenta puedes registrarte.</h5>
    <div class="row justify-content-center mt-4">
        
        <div class="col-sm-12 d-flex justify-content-center">
            <a class="btn btn-primary" href="{% url 'login' %}" style = 'margin-top: 20px;'>Login</a>
        </div>
        <span></span>
        <div class="col-sm-12 d-flex justify-content-center mt-2 mt-sm-0">
            <a class="btn btn-primary" href="{% url 'register' %}"style = 'margin-top: 20px;'>Registrarse</a>
        </div>
    
    </div>
</div>
{% elif request.user.is_superuser or request.user.is_staff %}
<div class="container">
<div class="container-fluid">
    <h3 style="color: rgb(32, 32, 32); margin-top:30px;">Editar Usuario</h3>
    
        <div class="row">
            <div class="col-md-4 mx-auto">   
        <form method="POST">
            {% csrf_token %}
            {{form.errors}}
            <h5 style="color: darkred; margin-top:30px;">{{message}}</h5>

            <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                {{form.as_p}}
            </div>
            <button type="submit" class="btn btn-primary btn-flat">
                <i class="fas fa-save"></i> Guardar cambios
            </button>
        </form>
            </div>
        </div> 
    
</div>
</div>
{%endif%}

{% endblock %}